# Python virtual environments
.venv/
venv/
ENV/
D:\lqs\codeAbout\py\env\vector_bt_env/
D:\lqs\codeAbout\py\env/

# IDE files
.idea/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# 忽略所有 parquet 文件
*.parquet

# 忽略所有 png 图片
*.png

# 忽略所有 log 文件
*.log
*.yaml
*.xlsx
*.json
*.csv